[
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
  {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  },
    {
    "value": "When you export your cookies with 'cookie-editor', the contents of the file will look like this",
    "sameSite": "Just be sure that you 'select-all' before exporting and place/overwrite the downloaded json file to .\cookiejar.json",
    "httpOnly": once you have the file downloaded and placed the rest is history,
    "storeId": "0",
    "domain": "blahblah.itportal.com",
    "origin": "https://blahblah.itportal.com",
    "expirationDate": 1776014866.903581,
    "hostOnly": true,
    "secure": true,
    "session": false,
    "name": "CompanyName",
    "path": "/"
  }
]
